@inherits XComponentBase

<PageTitle>Home</PageTitle>

<LayoutView Layout="typeof(MainLayout)">
    <section class="p-8">
        <h2 class="text-2xl font-semibold mb-4">Welcome to Our Datasets App</h2>
        <p class="mb-8">Explore a variety of datasets below and find the information you need.</p>

        <div class="grid grid-cols-3 gap-4 overflow-y-auto max-h-[80vh]">
            @for (int i = 0; i < 9; i++)
            {
                <Dataset Num="i+1" />
            }
        </div>
    </section>
</LayoutView>